

nav .container {
    display: flex;
    justify-content: space-between;
  width: 100%;
  background-color:#fff;
 padding: 30px;
 margin-bottom: 20px;
 
 

}

.burger{
    display: none;
}

nav .container  ul li {
   color: black;
   opacity: 40%;
    text-decoration: none;
  
}
nav .container ul li:hover{
    cursor: pointer;
}


.container .navbar ul li a:hover{
    border-bottom: solid 3px;
    border-color: #33D35E 100% #2AB6D9 100%;
}


nav ul{
    display: flex;
    gap: 40px;
}
.links li{
    position: relative;
    list-style: none;
}
 .links li::after{
    list-style: none;
    position: absolute;
    bottom: -15px;
    left: 0px;
    width: 0%;
    height: 5px;
    content: "";
    background: linear-gradient(100deg,#33D35E ,#2AB6D9);
    transition: all .3s ease;
    
}
.links li:hover::after{
    width: 100%;

}
nav button{
    padding: 14px 32px;
    border-radius: 25px;
    border: none;
    background:linear-gradient(50deg, #33D35E,#2AB6D9 );
    color: #fff;
    cursor: pointer;
    transition: all 0.4s ease-in;
}
nav button:hover{
    background:linear-gradient(50deg, #1a7633,#115f72 ); 
   transform: scaleX(1.2);
   transition: all 0.4s ease-in;
}
.hero_title{
   margin-top: 90px;
    font-size: 56px;
    font-weight: 100;
    line-height: 64px;
    letter-spacing: -1px;
    text-align: left;
    margin-bottom: 50px;
    width: 450px;
}
.hero_info{
   opacity: 30%;
font-size: 18px;
line-height: 28px;
letter-spacing: -0.28125px;
text-align: left;
margin-bottom: 30px;
width: 450px;
}
.hero_button{
    padding: 7px 32px;
    border-radius: 25px;
    border: none;
    background:linear-gradient(50deg, #33D35E,#2AB6D9 );
    color: #fff;
    cursor: pointer;
    transition: all 0.4s ease-in;
}
.hero_button:hover{
    background:linear-gradient(50deg, #1a7633,#115f72 ); 
   transform: scaleX(1.2);
   transition: all 0.4s ease-in;
}
.hero{
    display: flex;
    margin-top: 35px;
}

.mobile{
    display: none;
}

.main_title{
   padding-top: 50px;
font-size: 40px;
font-weight: 100;
line-height: 64px;
letter-spacing: -0.7142857313156128px;
text-align: left;

}
.first_section .container .main_cards{
    display:flex;
    justify-content: space-between;
}

.first_section {
    background-color: #F4F5F7;
}

.main_data {
   opacity: 40%;
font-size: 18px;
line-height: 28px;
letter-spacing: -0.28125px;
text-align: left;
margin-bottom: 35px;
width: 600px;
}
.cards{
   margin-top: 50px;
   width: 200px; 
}
.cards h3{
    
font-size: 24px;
font-weight: 100;
line-height: 28px;
letter-spacing: -0.4285714328289032px;
text-align: left;
margin-bottom: 20px;

}

.card_data{
    opacity: 40%;
font-size: 18px;
line-height: 28px;
letter-spacing: -0.28125px;
text-align: left;
margin-bottom: 35px;
    width: 260px;
}

.card_section_two p{
    
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.15625px;
    text-align: left;
    margin-left: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.card_section_two h3{
   
font-size: 16px;
font-weight: 100;
line-height: 20px;
letter-spacing: -0.2857142984867096px;
text-align: left;
margin-bottom: 5px;
align-items: center;
margin-left: 18px;
}
.card_section_two h3:hover{
    color: 
    #30C88F;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.info{
   width: 150px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.203125px;
    text-align: left;
    
}
.card_section_two{
    align-items:center;
    
}
.card_section_two img{
    width: 300px;
}

.second_s_title{
    font-family: Public Sans;
font-size: 40px;
font-weight: 100;
line-height: 64px;
letter-spacing: -0.7142857313156128px;
text-align: left;
color: #2D314D;
margin-bottom: 30px;
padding-top: 25px;
transition: all 0.3s ease-in-out;
}


.container .all_cards {
    display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}




@media (max-width:467px){
 
 
    .links{
    display: none;
 }
 nav button{
    display: none;
 }
 .burger{
    display: block;
 }
.hero{
    padding-top: 0px;
}

 .hero_img{
    display: none;
 }
 .mobile{
    display: block;
    width: 100%;
   
 }

 .hero_title{
    width: 280px;
   margin: 0 auto;
   font-size: 40px;
 }
 .hero_info{
    width: 370px;
    margin: 0 auto;
 }
 .hero_button{
    display: flex;
   width: 150px;
   margin: 0 auto;
   margin-top: 22px;
   padding: 16px 25px;
  
 }
.cards{
    width: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.card_data{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 280px; 
    margin: 0 auto;
}

 .cards h3{
   width: 270px;
   margin: 0 auto;
   text-align: center;
   align-items: center;
   margin-bottom: 22px;
 }
 .cards img{
   
 }
 .main_data{
    width: 340px;
    margin: 0 auto;
    text-align: center;
 }
.main_title{
    width: 250px;
    margin: 0 auto;
    text-align: center;
}
.main_cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.all_cards{
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.card_section_two{
    margin-bottom: 30px;
}
.second_s_title{
    text-align: center;
}
}