@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300&display=swap');

$grd:#33D35E 100% #2AB6D9 100%;

@import './header';
@import './sections';
@import './footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1440px;
    font-family: 'Public Sans', sans-serif;
}